In [ ]:
import pandas as pd
import numpy as np

In [ ]:
#1. การโหลดและตรวจสอบข้อมูลเบื้องต้น
df = pd.read_csv('std.csv')
print(df.head(10))
df.info()
#MidtermScore หายไป มีชนิดข้อมูล เป็น float

   StudentID FirstName   LastName                   Major  MidtermScore  \
0    6401001   Somchai     Jaidee    Computer Engineering          85.0
1    6401002    Somsri     Rakdee    Computer Engineering          76.0
2    6401003      Mana      Petch       Civil Engineering          65.0
3    6401004    Chujai      Klaew  Electrical Engineering          92.0
4    6401005      Piti     Yindee    Computer Engineering          88.0
5    6401006     Malee     Boonma       Civil Engineering           NaN
6    6401007     Weera    Chokdee  Electrical Engineering          78.0
7    6401008     Jinda     Suksai    Computer Engineering          95.0
8    6401009      Arun  Rungrueng  Industrial Engineering          55.0
9    6401010     Naree    Ngamdee       Civil Engineering          72.0

   FinalScore  ProjectScore  Attendance
0        90.0          45.0          95
1         NaN          48.0          88
2        72.0          38.0          92
3        95.0          50.0          98
4        85.0          42.0          85
5        65.0          35.0          75
6        82.0          40.0          90
7        98.0          49.0          99
8        60.0          30.0          68
9        78.0          41.0          94
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   StudentID     15 non-null     int64
 1   FirstName     15 non-null     object
 2   LastName      15 non-null     object
 3   Major         15 non-null     object
 4   MidtermScore  13 non-null     float64
 5   FinalScore    14 non-null     float64
 6   ProjectScore  15 non-null     float64
 7   Attendance    15 non-null     int64
dtypes: float64(3), int64(2), object(3)
memory usage: 1.1+ KB

In [ ]:
#2. การจัดการข้อมูลที่ขาดหาย (Missing Data)
print(df.isnull().sum())

StudentID       0
FirstName       0
LastName        0
Major           0
MidtermScore    2
FinalScore      1
ProjectScore    0
Attendance      0
dtype: int64

In [4]:
df.fillna({'MidtermScore': df['MidtermScore'].median(),'FinalScore': df['FinalScore'].median()}, inplace=True)
print(df.isnull().sum())

StudentID       0
FirstName       0
LastName        0
Major           0
MidtermScore    0
FinalScore      0
ProjectScore    0
Attendance      0
dtype: int64

In [ ]:
#3. การแปลงชนิดข้อมูล (Data Type Conversion)
df['ProjectScore'] = df['ProjectScore'].astype(int)
df.dtypes

StudentID         int64
FirstName        object
LastName         object
Major            object
MidtermScore    float64
FinalScore      float64
ProjectScore      int64
Attendance        int64
dtype: object

In [ ]:
#4. การสร้างคอลัมน์ใหม่จากข้อมูลเดิม
df['FullName'] = df['FirstName'] + ' ' + df['LastName']
print(df['FullName'])

0     Somchai Jaidee
1      Somsri Rakdee
2         Mana Petch
3       Chujai Klaew
4        Piti Yindee
5       Malee Boonma
6      Weera Chokdee
7       Jinda Suksai
8     Arun Rungrueng
9      Naree Ngamdee
10       David Smith
11       Emily Jones
12     Michael Brown
13     Jessica Davis
14      Chris Wilson
Name: FullName, dtype: object

In [ ]:
#5. การคํานวณคะแนนรวม
df['TotalScore'] = df['MidtermScore'] + df['FinalScore'] + df['ProjectScore']
print(df[['FullName', 'TotalScore']])

          FullName  TotalScore
0   Somchai Jaidee       220.0
1    Somsri Rakdee       205.0
2       Mana Petch       175.0
3     Chujai Klaew       237.0
4      Piti Yindee       215.0
5     Malee Boonma       178.0
6    Weera Chokdee       200.0
7     Jinda Suksai       242.0
8   Arun Rungrueng       145.0
9    Naree Ngamdee       191.0
10     David Smith       248.0
11     Emily Jones       182.0
12   Michael Brown       205.0
13   Jessica Davis       217.0
14    Chris Wilson       165.0

In [ ]:
#6. การคํานวณและตัดเกรด
df['Avgs'] = df['TotalScore'] /3
print(df[['FullName', 'Avgs']])

          FullName       Avgs
0   Somchai Jaidee  73.333333
1    Somsri Rakdee  68.333333
2       Mana Petch  58.333333
3     Chujai Klaew  79.000000
4      Piti Yindee  71.666667
5     Malee Boonma  59.333333
6    Weera Chokdee  66.666667
7     Jinda Suksai  80.666667
8   Arun Rungrueng  48.333333
9    Naree Ngamdee  63.666667
10     David Smith  82.666667
11     Emily Jones  60.666667
12   Michael Brown  68.333333
13   Jessica Davis  72.333333
14    Chris Wilson  55.000000

In [33]:
def cal_g(total_score):
    if total_score >= 80:
        return 'A'
    elif total_score >= 75:
        return 'B+'
    elif total_score >= 70:
        return 'B'
    elif total_score >= 65:
        return 'C+'
    elif total_score >= 60:
        return 'C'
    elif total_score >= 55:
        return 'D+'
    elif total_score >= 50:
        return 'D'
    else:
        return 'F'
df['FinalGrade'] = df['Avgs'].apply(cal_g)
print(df[['FullName', 'FinalGrade']])

          FullName FinalGrade
0   Somchai Jaidee          B
1    Somsri Rakdee         C+
2       Mana Petch         D+
3     Chujai Klaew         B+
4      Piti Yindee          B
5     Malee Boonma         D+
6    Weera Chokdee         C+
7     Jinda Suksai          A
8   Arun Rungrueng          F
9    Naree Ngamdee          C
10     David Smith          A
11     Emily Jones          C
12   Michael Brown         C+
13   Jessica Davis          B
14    Chris Wilson         D+

In [ ]:
#7. การคัดกรองข้อมูลตามเงื่อนไขที่ซับซ้อน
cpe_a = df[(df['Major'] == 'Computer Engineering') & (df['FinalGrade'] == 'A')]
print(cpe_a[['FullName', 'Major', 'FinalGrade']])
la = df[df['Attendance'] < 70]
print(la[['FullName', 'Attendance']])

        FullName                 Major FinalGrade
7   Jinda Suksai  Computer Engineering          A
10   David Smith  Computer Engineering          A
          FullName  Attendance
8   Arun Rungrueng          68
14    Chris Wilson          65

In [ ]:
#8. การเรียงลําดับข้อมูล
sortdf = df.sort_values(by='TotalScore', ascending=False)
top5 = sortdf.head(5)
print(top5[['FullName', 'Major', 'TotalScore', 'FinalGrade']])

          FullName                   Major  TotalScore FinalGrade
10     David Smith    Computer Engineering       248.0          A
7     Jinda Suksai    Computer Engineering       242.0          A
3     Chujai Klaew  Electrical Engineering       237.0         B+
0   Somchai Jaidee    Computer Engineering       220.0          B
13   Jessica Davis    Computer Engineering       217.0          B

In [ ]:
#9. การจัดกลุ่มและสรุปผลข้อมูล (Grouping and Aggregation)
gdf = df.groupby('Major').agg({'TotalScore': 'mean','FinalScore': 'mean'})
print(gdf)
#สาขา Computer Engineering

                        TotalScore  FinalScore
Major
Civil Engineering       187.250000       73.75
Computer Engineering    224.500000       91.00
Electrical Engineering  206.333333       84.00
Industrial Engineering  155.000000       65.00

In [ ]:
#10. การเตรียมและการบันทึกรายงานสรุป
report_df = df[[ 'StudentID' , 'FullName' , 'Major' , 'TotalScore' , 'FinalGrade']]
print (report_df)
fn = 'student_grade_report.csv'
report_df.to_csv(fn, index=False)

    StudentID        FullName                   Major  TotalScore FinalGrade
0     6401001  Somchai Jaidee    Computer Engineering       220.0          B
1     6401002   Somsri Rakdee    Computer Engineering       205.0         C+
2     6401003      Mana Petch       Civil Engineering       175.0         D+
3     6401004    Chujai Klaew  Electrical Engineering       237.0         B+
4     6401005     Piti Yindee    Computer Engineering       215.0          B
5     6401006    Malee Boonma       Civil Engineering       178.0         D+
6     6401007   Weera Chokdee  Electrical Engineering       200.0         C+
7     6401008    Jinda Suksai    Computer Engineering       242.0          A
8     6401009  Arun Rungrueng  Industrial Engineering       145.0          F
9     6401010   Naree Ngamdee       Civil Engineering       191.0          C
10    6401011     David Smith    Computer Engineering       248.0          A
11    6401012     Emily Jones  Electrical Engineering       182.0          C
12    6401013   Michael Brown       Civil Engineering       205.0         C+
13    6401014   Jessica Davis    Computer Engineering       217.0          B
14    6401015    Chris Wilson  Industrial Engineering       165.0         D+