In [9]:
import pandas as pd
import numpy as np

In [10]:
# ข้อ1 ตรวจสอบข้อมูลเบื้องต้น
df = pd.read_csv('student_data.csv')
print(df.head(10))
print(df.info())
print(df.describe())
print("\nคอลัมน์ที่มีข้อมูลขาดหายคือ MidtermScore (2 ค่า) และ FinalScore (1 ค่า) \nชนิดข้อมูลเป็น float64 เนื่องจาก Pandas จะแปลงคอลัมน์ที่มีค่าว่างเป็น float โดยอัตโนมัติ")

   StudentID FirstName   LastName                   Major  MidtermScore  \
0    6401001   Somchai     Jaidee    Computer Engineering          85.0
1    6401002    Somsri     Rakdee    Computer Engineering          76.0
2    6401003      Mana      Petch       Civil Engineering          65.0
3    6401004    Chujai      Klaew  Electrical Engineering          92.0
4    6401005      Piti     Yindee    Computer Engineering          88.0
5    6401006     Malee     Boonma       Civil Engineering           NaN
6    6401007     Weera    Chokdee  Electrical Engineering          78.0
7    6401008     Jinda     Suksai    Computer Engineering          95.0
8    6401009      Arun  Rungrueng  Industrial Engineering          55.0
9    6401010     Naree    Ngamdee       Civil Engineering          72.0

   FinalScore  ProjectScore  Attendance
0        90.0          45.0          95
1         NaN          48.0          88
2        72.0          38.0          92
3        95.0          50.0          98
4        85.0          42.0          85
5        65.0          35.0          75
6        82.0          40.0          90
7        98.0          49.0          99
8        60.0          30.0          68
9        78.0          41.0          94
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   StudentID     15 non-null     int64
 1   FirstName     15 non-null     object
 2   LastName      15 non-null     object
 3   Major         15 non-null     object
 4   MidtermScore  13 non-null     float64
 5   FinalScore    14 non-null     float64
 6   ProjectScore  15 non-null     float64
 7   Attendance    15 non-null     int64
dtypes: float64(3), int64(2), object(3)
memory usage: 1.1+ KB
None
          StudentID  MidtermScore  FinalScore  ProjectScore  Attendance
count  1.500000e+01     13.000000   14.000000     15.000000   15.000000
mean   6.401008e+06     78.076923   81.571429     42.066667   87.533333
std    4.472136e+00     13.344547   12.420295      6.295879   10.927466
min    6.401001e+06     55.000000   60.000000     30.000000   65.000000
25%    6.401004e+06     68.000000   72.750000     38.500000   82.500000
50%    6.401008e+06     78.000000   81.000000     42.000000   91.000000
75%    6.401012e+06     88.000000   91.500000     47.500000   94.500000
max    6.401015e+06     98.000000  100.000000     50.000000  100.000000

คอลัมน์ที่มีข้อมูลขาดหายคือ MidtermScore (2 ค่า) และ FinalScore (1 ค่า)
ชนิดข้อมูลเป็น float64 เนื่องจาก Pandas จะแปลงคอลัมน์ที่มีค่าว่างเป็น float โดยอัตโนมัติ

In [11]:
# ข้อ2 จัดการข้อมูลขาดหาย
df.fillna({'MidtermScore': df['MidtermScore'].median(),}, inplace=True)
df.fillna({'FinalScore': df['FinalScore'].median(),}, inplace=True)
print(df.isnull().sum())

StudentID       0
FirstName       0
LastName        0
Major           0
MidtermScore    0
FinalScore      0
ProjectScore    0
Attendance      0
dtype: int64

In [12]:
# ข้อ3 แปลงข้อมูล
df['ProjectScore'] = df['ProjectScore'].astype(int)
df.dtypes

StudentID         int64
FirstName        object
LastName         object
Major            object
MidtermScore    float64
FinalScore      float64
ProjectScore      int64
Attendance        int64
dtype: object

In [13]:
# ข้อ4 สร้างคอลัมน์ใหม่
df['FullName'] = df['FirstName']+' '+df['LastName'] 
print(df['FullName'])

0     Somchai Jaidee
1      Somsri Rakdee
2         Mana Petch
3       Chujai Klaew
4        Piti Yindee
5       Malee Boonma
6      Weera Chokdee
7       Jinda Suksai
8     Arun Rungrueng
9      Naree Ngamdee
10       David Smith
11       Emily Jones
12     Michael Brown
13     Jessica Davis
14      Chris Wilson
Name: FullName, dtype: object

In [14]:
# ข้อ5 คำนวณคะแนนรวม
df['TotalScore'] = (df['MidtermScore']+df['FinalScore']+df['ProjectScore'])/2.5

print(df['TotalScore'])

0     88.0
1     82.0
2     70.0
3     94.8
4     86.0
5     71.2
6     80.0
7     96.8
8     58.0
9     76.4
10    99.2
11    72.8
12    82.0
13    86.8
14    66.0
Name: TotalScore, dtype: float64

In [15]:
# ข้อ6 ตัดเกรด
def calculate_grade(total_score):
    if total_score >= 80:
        return 'A'
    elif total_score >= 75:
        return 'B+'
    elif total_score >= 70:
        return 'B'
    elif total_score >= 65:
        return 'C+'
    elif total_score >= 60:
        return 'C'
    elif total_score >= 55:
        return 'D+'
    elif total_score >= 50:
        return 'D'
    else:
        return 'F'
df['FinalGrade'] = df['TotalScore'].apply(calculate_grade)
print (df[['FullName','Major','FinalGrade']])

          FullName                   Major FinalGrade
0   Somchai Jaidee    Computer Engineering          A
1    Somsri Rakdee    Computer Engineering          A
2       Mana Petch       Civil Engineering          B
3     Chujai Klaew  Electrical Engineering          A
4      Piti Yindee    Computer Engineering          A
5     Malee Boonma       Civil Engineering          B
6    Weera Chokdee  Electrical Engineering          A
7     Jinda Suksai    Computer Engineering          A
8   Arun Rungrueng  Industrial Engineering         D+
9    Naree Ngamdee       Civil Engineering         B+
10     David Smith    Computer Engineering          A
11     Emily Jones  Electrical Engineering          B
12   Michael Brown       Civil Engineering          A
13   Jessica Davis    Computer Engineering          A
14    Chris Wilson  Industrial Engineering         C+

In [16]:
# ข้อ7คัดกรองข้อมูล
cpe_a = df[(df['Major'] == 'Computer Engineering') & (df['FinalGrade'] == 'A')]
print(cpe_a[['FullName', 'Major', 'FinalGrade']])
la = df[df['Attendance'] < 70]
print(la[['FullName', 'Attendance']])

          FullName                 Major FinalGrade
0   Somchai Jaidee  Computer Engineering          A
1    Somsri Rakdee  Computer Engineering          A
4      Piti Yindee  Computer Engineering          A
7     Jinda Suksai  Computer Engineering          A
10     David Smith  Computer Engineering          A
13   Jessica Davis  Computer Engineering          A
          FullName  Attendance
8   Arun Rungrueng          68
14    Chris Wilson          65

In [17]:
#ข้อ8 เรียงข้อมูล
sortdf = df.sort_values(by= 'TotalScore', ascending=False)
Top5 = sortdf.head(5)
print(Top5 [['FullName','Major','TotalScore','FinalGrade']])

          FullName                   Major  TotalScore FinalGrade
10     David Smith    Computer Engineering        99.2          A
7     Jinda Suksai    Computer Engineering        96.8          A
3     Chujai Klaew  Electrical Engineering        94.8          A
0   Somchai Jaidee    Computer Engineering        88.0          A
13   Jessica Davis    Computer Engineering        86.8          A

In [18]:
#ข้อ9 การจัดกลุ่มและสรุปข้อมูล
group = df.groupby('Major').agg({
    'TotalScore' : 'mean' , 'FinalScore' : 'mean'
})
print(group)
print("\nสาขาวิชาที่มีคะแนนรวมเฉลี่ยสูงสุดคือ: Computer Engineering")

                        TotalScore  FinalScore
Major
Civil Engineering        74.900000       73.75
Computer Engineering     89.800000       91.00
Electrical Engineering   82.533333       84.00
Industrial Engineering   62.000000       65.00

สาขาวิชาที่มีคะแนนรวมเฉลี่ยสูงสุดคือ: Computer Engineering

In [19]:
#ข้อ10 รายงานสรุป
report_df = df[[ 'StudentID' , 'FullName' , 'Major' , 'TotalScore' , 'FinalGrade']]
print (report_df)
op_name = 'student_grade_report.csv'
report_df.to_csv(op_name, index=False)

    StudentID        FullName                   Major  TotalScore FinalGrade
0     6401001  Somchai Jaidee    Computer Engineering        88.0          A
1     6401002   Somsri Rakdee    Computer Engineering        82.0          A
2     6401003      Mana Petch       Civil Engineering        70.0          B
3     6401004    Chujai Klaew  Electrical Engineering        94.8          A
4     6401005     Piti Yindee    Computer Engineering        86.0          A
5     6401006    Malee Boonma       Civil Engineering        71.2          B
6     6401007   Weera Chokdee  Electrical Engineering        80.0          A
7     6401008    Jinda Suksai    Computer Engineering        96.8          A
8     6401009  Arun Rungrueng  Industrial Engineering        58.0         D+
9     6401010   Naree Ngamdee       Civil Engineering        76.4         B+
10    6401011     David Smith    Computer Engineering        99.2          A
11    6401012     Emily Jones  Electrical Engineering        72.8          B
12    6401013   Michael Brown       Civil Engineering        82.0          A
13    6401014   Jessica Davis    Computer Engineering        86.8          A
14    6401015    Chris Wilson  Industrial Engineering        66.0         C+