In [ ]:

import pandas as pd
import numpy as np
df = pd.read_csv('student.csv')
# สร้างฟังก์ชันเพื่อคำนวณเกรดจากคะแนนรวม
def calculate_grade(score):
    if score >= 80:
        return 'A'
    elif score >= 70:
        return 'B'
    elif score >= 60:
        return 'C'
    elif score >= 50:
        return 'D'
    else:
        return 'F'

# สร้างคอลัมน์ FinalGrade โดยใช้ฟังก์ชันข้างต้น
df['FinalGrade'] = df['TotalScore'].apply(calculate_grade)

# แสดงตัวอย่างผลลัพธ์
df[['TotalScore', 'FinalGrade']].head()

การคํานวณคะแนนรวม

   MidtermScore  FinalScore  ProjectScore  TotalScore
0          85.0        90.0            45       220.0
1          76.0         NaN            48         NaN
2          65.0        72.0            38       175.0
3          92.0        95.0            50       237.0
4          88.0        85.0            42       215.0

In [ ]:
df.info()